.background-card {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  width: 100%;
  height: 100%;
  overflow: hidden;
  color: white;
  text-shadow: 0 1px 2px rgba(0, 0, 0, 0.7);
}

.background-card-image {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  z-index: 1;
}

.background-card-content {
  position: relative;
  z-index: 2;
  margin-left: 10%;
}

.background-card-content .background-card-title {
  font-family: "Montserrat", sans-serif;
  font-size: 42px;
  font-weight: bold;
}

.background-card-content .background-card-description {
  font-family: "Montserrat", sans-serif;
  font-size: 32px;
}
