
  

.sectionFourContainer-Main{

  position: relative;

  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  background-color:  black;

} 


.sectionFourContainer{

  display: flex;
  align-items: center;
width: 85%;
  align-items: row;
color: #F2BB16;
margin-top: 10%;
margin-bottom: 32px;

}


.sectionFourContainer .ssectionFourContent{


  display:  flex;
  align-items: center;
  justify-content: center;
  width: 30%;


  margin-bottom: 32px;
  margin-bottom: 30%;
}

.sectionFourContent h3{

 
    font-family: "Passion One", sans-serif;
    font-weight: 700;
    font-style: normal;
  font-size: 72px;

 color: #F2BB16;
 margin:  0px 128px 0px 0px;
  
}

.sectionFourContainer p{

 

  width: 50%;

font-size: 22px;

color: white;
margin-right: 5%;

}


.sectionFourContent-Two{
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 85%;
  margin-bottom: 32px;
  margin-top: 32px;
}

.sectionFourContent-Three{
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 85%;
  margin-bottom: 10%;
}



