/* Navbar.css */


/* Estilos base */
.sectionFiveContainer {
    background-color: #F2BB16;
    display: flex;
    align-items: center;
    flex-direction: column;
    width: 100%;
 
  
}

.sectionFiveContent-main {
    width: 80%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;

 
}

.sectionFiveContent {
    display: flex;
    flex-direction: column;
    align-items: left;
    overflow: hidden;

}

.sectionFiveContent-main h3 {
    font-family: "Passion One", sans-serif;
    font-weight: 700;
    font-size: 70px;
    margin-bottom: 5px;
}

.sectionFiveContent-main h4 {
    font-size: 24px;
    margin-bottom: 10%;
}

.mapContainer-Main {
    width: 100%;
    display: flex;
    background-color: #F2BB16;
    height: 700px;
    overflow: hidden;
  
}


/* Consultas de medios para hacerlo responsive */


@media screen and (max-width: 992px) {
    .sectionFiveContent-main {
        flex-direction: row;
        justify-content: center;
        align-items: center;
    }

    .mapContainer {
        margin-left: 0;
    }
    .sectionFiveContent{
        margin-right: 10%;
    }
}

@media screen and (max-width: 768px) {
    .sectionFiveContent-main h3 {
        font-size: 50px;
       
    }

    .sectionFiveContent-main h4 {
        font-size: 18px;
    }
    .sectionFiveContent-main {
 
        margin-bottom:10% ;
    }

}

@media screen and (max-width: 576px) {
    .sectionFiveContent-main h3 {
        font-size: 40px;
    }

    .sectionFiveContent-main h4 {
        font-size: 16px;
    }

    .sectionFiveContent-main {
 
        margin-bottom:10% ;
    }

  

}
